/* Estilização do header */
header{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-preto);
    padding: 10px 30px;
}

/* Estilização da area logo e logo */

.area-logo{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100px;
}

.area-logo img{
    display: flex;
    width: 100%;
}

/* estilização da area menu e menu */

.area-menu{
    border: 1px solid green;
}

.area-menu ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: end;
    padding: 5px 20px;
    gap: 20px;
    list-style: none;
}

.area-menu ul li{
    position: relative;
}

.area-menu ul li:not(:last-child)::after{
    content: "";
    display: flex;
    width: 1px;
    height: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    right: -10px;
}

.area-menu ul li a{
    display: flex;
    text-decoration: none;
    color: var(--cor-texto-preto);
    position: relative;
    padding: 5px 10px;
}

.area-menu ul li a::before{
    content: '';
    width: 0;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.8s all;
}

.area-menu ul li a:hover::before{
    width: 100%;
    /* transition: 90ms all; */
}