<header>
    <div class="area-logo">
        <img src="/imagens/logo/logo.png" alt="LOGO">
    </div>
    <div class="area-menu">
        <ul>
            <li>
                <a routerLink="">Inicio</a>
            </li>
            <li>
                <a routerLink="">Para você</a>
            </li>
            <li>
                <a routerLink="">Sobre nós</a>
            </li>
            <li>
                <a routerLink="">Investidores</a>
            </li>
            <li>
                <a routerLink="login">Entrar</a>
            </li>
        </ul>
    </div>
</header>