/* Estilização do header */
header{
    /* border: 1px solid red; */
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #024059;
    color: var(--cor-texto-branco);
    padding: 10px 30px;
    transition: 1s all;
}

/* Estilização do btn close */

.btn-close{
    display: none;
}

/* estilização do btn menu */
.menu{
    /* border: 1px solid red; */
    display: none;
    width: 100%;
    max-width: 50px;
    padding: 0;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.623));
    position: fixed;
    left: 20px;
    top: 20px;
}

.menu img{
    display: flex;
    width: 100%;
}

.copy{
    display: none;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
}

/* Estilização da area logo e logo */

.area-logo{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 200px;
}

.area-logo img{
    display: flex;
    width: 100%;
}

/* estilização da area menu e menu */

.area-menu ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: end;
    padding: 5px 20px;
    gap: 20px;
    list-style: none;
}

.area-menu ul li{
    position: relative;
}

.area-menu ul li:not(:last-child)::after{
    content: "";
    display: flex;
    width: 1px;
    height: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    right: -10px;
}

.area-menu ul li a{
    display: flex;
    text-decoration: none;
    color: var(--cor-texto-branco);
    position: relative;
    padding: 5px 10px;
}

.area-menu ul li a::before{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--cor-texto-branco);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.8s all;
}

.area-menu ul li a:hover::before{
    width: 100%;
    /* transition: 90ms all; */
}

/* Estilização de responsividade mobile */
/* tablets */
@media screen and (max-width: 830px){
    header{
        /* border: 1px solid red; */
        flex-direction: column;
        gap: 20px;
        transition: 1s all;
    }
}

/* celulares */
@media screen and (max-width: 650px) {
    header{
        /* border: 1px solid red; */
        flex-direction: column;
        position: fixed;
        top: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        justify-content: start;
        align-items: start;
        left: -700px;
        transition: 1s all;
    }

    .copy{
        display: flex;
    }

    .btn-close{
        display: flex;
        position: absolute;
        right: 20px;
        top: 20px;
        filter: invert(100%);
    }

    .menu{
        display: flex;
    }

    .area-menu{
        display: flex;
        width: 100%;
    }

    .area-menu ul{
        /* border: 1px solid red; */
        flex-direction: column;
        width: 100% !important;
    }

    .area-menu ul li:not(:last-child)::after{
        display: none;
    }
}