<header id="header">
    <button type="button" class="btn-close" data-bs-dismiss="area-logo" title="Fechar menu" (click)="menu('close')"></button>
    <button type="button" class="btn menu" (click)="menu('open')" title="Menu">
        <img src="/imagens/icones/menu.png" alt="icone menu">
    </button>
    <div class="area-logo">
        <a routerLink="/">
            <img src="/imagens/logo/energisa-logo.png" alt="LOGO">
        </a>
    </div>
    
    @if(this.width <= 650){
        <app-menu-mobile></app-menu-mobile>
    }
    @if(width > 650){
        <app-menu-desktop></app-menu-desktop>
    }

    <div class="copy">
        <p>&copy; 2025 Deyvid e Antony - Todos os direitos reservados. Energia acessível para todos..</p>
    </div>
</header>