
.area-conteudo{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-image: url("/imagens/backgrounds/background-home.jpg");
}

.conteudo{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 40px 20px;
    background-color: var(--cor-fundo-branco);
    border-radius: 5px;
}

form{
    border: 1px solid red;
    padding: 10px;
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

form .box-input{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 5px;
    padding: 5px 10px;
    width: 100%;
    max-width: 250px;
}

form .box-input>label{
    font-weight: 600;
}


