.bg-body{
    min-height: 100vh;
    min-width: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-form{
    position: relative;
    justify-items: center;
    width: min-content;
    background-color: #fff;
    max-width: 900px;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.085);
}
.conteudo{
    gap: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
label{
    display: block;
    margin: 10px 0px 10px 0px;;
    font-weight: bolder;
}
input{
    color: var(--cor-fundo-branco);
    background-color: var(--cor-primaria) ;
    padding : 10px 20px;
    border-radius: 20px;
    outline: none;
    border: none;
}
input::placeholder{
    color: white;
}
button{
    position: relative;
    top: 25px;
    display: flex;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--cor-primaria);
    color: var(--cor-texto-branco);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}