.conteudo{
    position: relative;
    background-color: var(--cor-secundaria);
    background-image: url(/imagens/backgrounds/background-home.jpg);
    /* border: solid 1px black; */
    display: flex;
    justify-content: center;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

.area-formLogin{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

.formLogin{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 60px 50px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--cor-fundo-branco);
    box-shadow: 2px 2px 5px gray;
    gap: 10px;
}

.area-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    gap: 5px;
}

.area-input>a{
    color: var(--cor-texto-cinza);
}

.area-input>a:hover{
    color: var(--cor-primaria);
}

.cartaz{
    /* border: solid 1px blue; */
    width: 100%;
    max-width: 500px;
    height: 700px;
    background-image: url("/imagens/backgrounds/tecnico-helpdesk.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}

input{
    color: var(--cor-fundo-branco);
    background-color: var(--cor-primaria) ;
    padding : 10px 20px;
    border-radius: 20px;
    outline: none;
    border: none;
}
input::placeholder{
    color: var(--cor-fundo-branco);
}

button:disabled{
    background-color: var(--cor-primaria);
    color: var(--cor-texto-branco);
    padding: 10px 20px;
    opacity: 0.6;
    cursor: no-drop;
}
button{
    display: flex;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--cor-primaria);
    color: var(--cor-texto-branco);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 800;
}
.msgLogin{
    /* border: solid 1px green ; */
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 5px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

/* Estilização de responsividade mobile */
/* tablets */
@media screen and (max-width: 900px){
    .cartaz{
        display: none;
    }

    .area-formLogin{
        padding: 80px 10px;
    }
}