<app-header></app-header>
<section class="conteudo">
    
    <div class="area-formLogin">
        <div class="formLogin">
            <div class="msgLogin">
                <p>Login de Atendimento Energisa</p>
            </div>

            @if (formLogin.get('cpf')?.hasError('required') && formLogin.get('cpf')?.touched) {
                <div class="alert alert-warning" role="alert">
                    <p>Preencha o campo CPF/CNPJ</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            }@else if (formLogin.get('cpf')?.hasError('minlength') && formLogin.get('cpf')?.touched) {
                <div class="alert alert-warning" role="alert">
                    <p>O campo CPF/CNPJ deve ter no minimo 11 caracteres.</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            @if (formLogin.get('senha')?.hasError('required') && formLogin.get('senha')?.touched) {
                <div class="alert alert-warning">
                    <p>O campo senha é obrigatório.</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }@else if (formLogin.get('senha')?.hasError('minlength') && formLogin.get('senha')?.touched) {
                <div class="alert alert-warning" role="alert">
                    <p>A senha deve ter no minimo 6 caracteres.</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            <form [formGroup]="formLogin" (ngSubmit)="onSubmitLogin()" class="formBranco">
                <div class="area-input">
                    <label for="cpf">Digite seu <strong>CPF</strong> ou <strong>CNPJ</strong></label>
                    <input type="text" formControlName="cpf" id="cpf" placeholder="CPF/CNPJ">
                </div>
                <div class="area-input">
                    <label for="senha">Digite sua <strong>senha</strong></label>
                    <input type="password" formControlName="senha" id="senha" placeholder="SENHA">
                </div>
                <div class="area-input">
                    <a href="">Esqueci minha senha</a>
                    <a href="">Ainda não possui cadastro?</a>
                </div>
                <button type="submit" [disabled]="formLogin.invalid">ENTRAR</button>
            </form>
        </div>
    </div>

    <div class="cartaz"></div>
</section>

<app-footer></app-footer>