<!-- Menu mobile -->
<div class="area-menu">
    <ul>
        <li>
            <a routerLink="" (click)="menu('close')">Inicio</a>
        </li>
        <li>
            <a routerLink="" (click)="menu('close')">Para você</a>
        </li>
        <li>
            <a routerLink="" (click)="menu('close')">Sobre nós</a>
        </li>
        <li>
            <a routerLink="" (click)="menu('close')">Investidores</a>
        </li>
        <li>
            <a routerLink="login" (click)="menu('close')">Entrar</a>
        </li>
    </ul>
</div>