<footer>
    <div class="area-descricao-footer">
        <div class="area-img">
            <img src="/imagens/logo/logo.png" alt="@">
        </div>
        <div class="texto">
            <h3>Help Desk | Energisa</h3>
            <p>Energia acessível para todos.</p>
        </div>
    </div>
    <div class="suporte-footer">
        <div class="contatos">
            <div class="box-contatos">
                <div class="area-img">
                    <img src="/imagens/icones/atendimento-ao-cliente.png" alt="@">
                </div>
                <p>+55 (83) 99415-8080</p>
            </div>
            <div class="box-contatos">
                <div class="area-img">
                    <img src="/imagens/icones/email.png" alt="@">
                </div>
                <p>suportehelpdeskenergisa@gmail.com</p>
            </div>
        </div>
        <div class="politicas">
            <ul>
                <li><a routerLink="">Politica de Privacidade</a></li>
            </ul>
        </div>
    </div>
</footer>