/* You can add global styles to this file, and also import other style files */

/* iportando fonte do google */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* definindo variaveis de cores para padronizar CSS global */
:root{
    --cor-primaria: #024059;
    --cor-secundaria: #026873;
    --cor-verde-claro: #04BF8A;
    --cor-verde-escuro: #025940;
    --cor-verde-vivo: #03A64A;
    --cor-texto-preto: #000000;
    --cor-texto-branco: #FFFFFF;
    --cor-texto-cinza: #474747;
    --cor-fundo-branco: #FFFFFF;
}

/* estilização globa */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* Estilização global de listas */
ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: end;
    padding: 5px 20px;
    gap: 20px;
    list-style: none;
}

ul li{
    position: relative;
}

ul li:not(:last-child)::after{
    content: "";
    display: flex;
    width: 1px;
    height: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    right: -10px;
}

ul li a{
    display: flex;
    text-decoration: none;
    color: var(--cor-texto);
    position: relative;
    padding: 5px 10px;
}

ul li a::before{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--cor-texto-branco);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.8s all;
}

ul li a:hover::before{
    width: 100%;
    /* transition: 90ms all; */
}